<div class="header">
    <h1>HN Feed</h1>
    <span class="sub-header">We &lt;3 hacker news!</span>
</div>
<mat-nav-list class="post_list">
    <mat-list-item class="post_row" *ngFor="let post of posts">
        <a matLine [href]="post.story_url" target="_blank" style="min-width: 80%;">
            <span class="post_title">{{ post.story_title || post.title }}.</span>
            <span class="post_author"> - {{post.author}} -</span>
        </a>
        <span style="width: 10%;">{{post.created_at_modified}}</span>
        <span style="width: 10%;">
            <mat-icon class="trash" (click)="showInfo()">delete</mat-icon>
        </span>
    </mat-list-item>
</mat-nav-list>
